<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartair">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ErrorConexionMainActivity"></activity>
        <activity android:name=".ModoSeguroActivity" />
        <activity android:name=".ErrorConexionVentilacionActivity" />
        <activity android:name=".ErrorConexionCalorActivity" />
        <activity android:name=".ErrorConexionAutomaticoActivity" />
        <activity android:name=".ErrorConexionFrioActivity" />

        <service
            android:name=".SensoresService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".BluetoothActivity" />

        <service
            android:name=".ConexionBluetoothService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ModoCalorActivity" />
        <activity android:name=".ModoAutomaticoActivity" />
        <activity android:name=".ModoVentilacionActivity" />
        <activity android:name=".ModoFrioActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>